*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: #0E1014;
}
h1, p, a{
    color: #FFFFFF;
}
h1 span{
    color: #9747FF;
}
h1{
    font-size: 64px ;
    font-family:"unbounded", sans-serif ;
    font-weight: bold;
    text-align: center;
}
p{
    font-size: 24px;
    font-family: "poppins",sans-serif;
    text-align: center;
}
a{
    color: #FFFFFF;
    font-family: "poppins",sans-serif;
    font-size: 24px;
    background-color: #9747FF ;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
}
